body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom,
    rgb(230, 177, 148),
    rgb(161, 160, 226)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
